
.color-block {
  width:200px;
  height:200px;
  background-color:lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-column *:nth-child(1) {
  width: 30%;
}

.two-column *:nth-child(2) {
  width: 15%;
}
